/* PLEASE NOT THAT AT LINE 108 IS TESTING FOR LANDING & DASHBOARD PAGES COMMENT OUT IF NEEDED */

* {
margin:0 auto;
padding:0;
}

body{
background: #c9c9c9 url(/images/bg_gradient-prime.png) repeat-x;
color:#434343;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

a{color:#00a8ff; text-decoration:none;}
a:hover{text-decoration:underline;}

h1{
color:#434343;
font-family:Arial, Helvetica, sans-serif;
font-size:36px;
font-weight:400;
letter-spacing:-2px;
margin:15px;
text-align:center;
}

label{
display:inline-block;
line-height:22px;
text-align:right;
vertical-align:top;
width:145px;
}

input{
border:1px solid #737373;
margin:5px 0;
}

.aipd{
background:transparent url(/images/logo-ai.png) no-repeat; 
display:block;
height:40px;
margin-top:10px;
width:54px;
}

.entryForm{
background:#FFF;
display:block;
height:auto;
margin-top:25px;
margin-bottom:20px;
max-width:960px;
min-width:350px;
padding:25px;
width:700px;

-webkit-border-radius: 18px;  
-moz-border-radius: 18px;  
-khtml-border-radius: 18px;  
border-radius: 18px; 

-webkit-box-shadow: 0 0 13px rgba(0,0,0,.3);  
-moz-box-shadow: 0 0 13px rgba(0,0,0,.3); 
}

.text{
display:inline-block;
height:32px;
width:488px;
}

.contain-checkboxes{
display:block;
margin: 5px 0 10px 147px;
}

.contain-checkboxes label{
display:inline-block;
padding:3px;
text-align:right;
vertical-align:top;
width:auto;
}

.contain-checkboxes input{
margin-left:10px;
}

.tools, .languages{
display:inline-block;
list-style:none;
line-height:21px;
margin: 0 80px 0 0;
}

.other-box{
padding:5px;
}

#submit{
border:none;
background: transparent url(/images/bg_butn-submit.png) no-repeat;
cursor:pointer;
color:#00a8ff;
display:block;
height:35px;
margin-left:325px;
text-align:center;
width:82px;

-webkit-border-radius: 3px;  
-moz-border-radius: 3px;  
-khtml-border-radius: 3px;  
border-radius: 3px;
}

#submit:hover{
background:#4b4d45;
color:#fff;
}

/*PROJECT.html - begin*/

ul{list-style-position:inside;}

.admin-bar{
display:block;
float:right;
height:auto;
margin:-115px 0 0 0;
position:relative;
width:auto;
}

.welcome{
color:#aaa;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:24px;
font-style:italic;
}

.nav-boxes{
background:#00a8ff;
color:#fff;
display:inline-block;
height:76px;
margin:0 16px;
padding:0;
width:76px;

-webkit-border-radius: 18px;  
-moz-border-radius: 18px;  
-khtml-border-radius: 18px;  
border-radius: 18px;
}


.home:hover{
background:#00a8ff url(/images/icon-home.png) -76px 0 no-repeat;}
.home{
background:#00a8ff url(/images/icon-home.png) no-repeat;
display:inline-block;
height:76px;
padding:0;
width:76px;
}

.view-account:hover{
background:#00a8ff url(/images/icon-view-account.png) -76px 0 no-repeat;}
.view-account{
background:#00a8ff url(/images/icon-view-account.png) no-repeat;
display:inline-block;
height:76px;
padding:0;
width:76px;
}

.add-project:hover{
background:#00a8ff url(/images/icon-add-project.png) -76px 0 no-repeat;}
.add-project{
background:#00a8ff url(/images/icon-add-project.png) no-repeat;
display:inline-block;
height:76px;
padding:0;
width:76px;
}

.delete-project:hover{
background:#00a8ff url(/images/icon-delete-project.png) -76px 0 no-repeat;}
.delete-project{
background:#EC1C24 url(/images/icon-delete-project.png) no-repeat;
display:inline-block;
height:76px;
padding:0;
width:76px;
}

.edit-project:hover{
background:#00a8ff url(/images/icon-edit-project.png) -76px 0 no-repeat;}
.edit-project{
background:#11d728 url(/images/icon-edit-project.png) no-repeat;
display:inline-block;
height:76px;
padding:0;
width:76px;
}

.add-photos:hover{
background:#00a8ff url(/images/icon-add-photos.png) -76px 0 no-repeat;}
.add-photos{
background:#00a8ff url(/images/icon-add-photos.png) no-repeat;
display:inline-block;
height:76px;
padding:0;
width:76px;
}


/*PROJECT.html - end*/

/************************** for testing of landing page **********************************/
/*.container {
	border: solid 1px #ff0000;
	width:1020px;
	height: 768px;
}*/ /*REMOVED FOR STYLE*/

.project {
	border: solid 1px #00ff00;
	width: 200px;
	height: 200px;
	margin: 50px;
	float: left;
}

.project .thumb {
	border: solid 1px #0000ff;
	width:100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.project h3 {
	margin-top: 10px;
	text-align: center;
}

/************************* end of testing for landing page ***************************/
.admin-bar{
	width: 145px;
}
.admin-bar a, .admin-bar input {
	float: right;
}