/* PLEASE NOT THAT AT LINE 108 IS TESTING FOR LANDING & DASHBOARD PAGES COMMENT OUT IF NEEDED */

* {
margin:0 auto;
padding:0;
}

body{
background: #c9c9c9 url(/images/bg_gradient-prime.png) repeat-x;
color:#434343;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

a{color:#00a8ff; text-decoration:none;}

h1{
color:#434343;
font-family:Arial, Helvetica, sans-serif;
font-size:36px;
font-weight:400;
letter-spacing:-2px;
margin:15px;
text-align:center;
}



label{
display:inline-block;
font-weight:bold;
letter-spacing:-.03em;
line-height:22px;
text-align:right;
vertical-align:top;
width:145px;
}

input{
border:1px solid #737373;
margin:5px 0;
}

fieldset{border:none;}

.aipd{
background:transparent url(/images/logo-ai.png) no-repeat; 
display:block;
height:40px;
margin-top:10px;
width:54px;
}

.entryForm{
background:#FFF;
display:block;
height:auto;
margin-bottom:20px;
padding:25px;
width:960px;

-webkit-border-radius: 18px;  
-moz-border-radius: 18px;  
-khtml-border-radius: 18px;  
border-radius: 18px; 

-webkit-box-shadow: 0 0 13px rgba(0,0,0,.3);  
-moz-box-shadow: 0 0 13px rgba(0,0,0,.3); 
}

.text{
display:inline-block;
height:32px;
width:488px;
}

.contain-checkboxes{
display:block;
margin: 5px 0 10px 147px;
}

.contain-checkboxes label{
display:inline-block;
padding:3px;
text-align:right;
vertical-align:top;
width:auto;
}

.contain-checkboxes input{
margin-left:10px;
}

.tools, .languages{
display:inline-block;
list-style:none;
line-height:21px;
margin: 0 80px 0 0;
}

.other-box{
padding:5px;
}

#submit{
border:none;
background: transparent url(/images/bg_butn-submit.png) no-repeat;
cursor:pointer;
color:#00a8ff;
display:block;
height:35px;
margin-left:325px;
text-align:center;
width:82px;

-webkit-border-radius: 3px;  
-moz-border-radius: 3px;  
-khtml-border-radius: 3px;  
border-radius: 3px;
}

#submit:hover{
background:#4b4d45;
color:#fff;
}

/*ADD_PHOTOS.html - begin*/

.contain-upload{
background:#f3f3f3;
border:1px solid #d5d6d4;
display:block;
float:left;
height:auto;
padding:0;
width:700px;
}

.button{opacity:.8;}
.button:hover{opacity:1;}

.contain-upload .upload-full input{
margin:0 0 0 51px;
width:80px;
}

.l-col-upload{
display:inline-block;
height:auto;
list-style:none;
margin:0 auto;
min-height:400px;
padding:10px 10px 0 0;
width:225px;
}

.r-col-upload{
border-left:1px solid #737373;
display:inline-block;
height:auto;
list-style:none;
margin:0 auto;
min-height:400px;
padding:10px 0 0 20px;
width:700px;
}

.upload-square{
display:inline-block;
height:180px;
margin:0 auto;
width:123px;
}

.upload-square .thumb{
background:transparent url(/images/img-upload-thumb-square.png) no-repeat;
display:block;
height:83px;
margin:0 auto;
width:74px;
}

.upload-landscape{
display:inline-block;
height:150px;
margin:0 auto;
width:123px;
}

.upload-landscape .thumb{
background:transparent url(/images/img-upload-thumb-landscape.png) no-repeat;
display:block;
height:47px;
margin:0 auto;
width:75px;
}

.upload-full{
display:inline-block;
height:180px;
padding:0;
margin:0;
width:225px;
}

.upload-full .thumb{
background:transparent url(/images/img-upload-thumb-full.png)  no-repeat;
display:block;
height:78px;
margin:0 auto;
margin-bottom:5px;
width:99px;
}

#submitImageForm{
background:#00a8ff;
border:none;
color:#fff;
font-size:24px;
padding:5px 10px;
position:relative;
left:720px;
text-shadow: rgba(0,0,0,.5) 0 -1px 0;

-webkit-border-radius: 3px;  
-moz-border-radius: 3px;  
-khtml-border-radius: 3px;  
border-radius: 3px;
}

#submitImageForm:hover,#addScreenshot:hover,.delete:hover{background:#434343;cursor:pointer;}

#addScreenshot{
background:#11d728;
border:none;
color:#fff;
font-size:19px;
margin:20px 0 20px 0;
padding:3px 10px;
position:relative;
left:514px;
text-shadow: rgba(0,0,0,.5) 0 -1px 0;

-webkit-border-radius: 3px;  
-moz-border-radius: 3px;  
-khtml-border-radius: 3px;  
border-radius: 3px;
}

.delete{
background:#EC1C24;
border:none;
color:#fff;
font-size:10px;
margin:0;
padding:3px 5px;
text-shadow: rgba(0,0,0,.2) 0 -1px 0;

-webkit-border-radius: 1em;  
-moz-border-radius: 1em;  
-khtml-border-radius: 1em;  
border-radius: 1em;
}

/*ADD_PHOTOS.html - end*/

/************************** for testing of landing page **********************************/
.container {
	border: solid 1px #ff0000;
	width:1020px;
	height: 768px;
}

.project {
	border: solid 1px #00ff00;
	width: 200px;
	height: 200px;
	margin: 50px;
	float: left;
}

.project .thumb {
	border: solid 1px #0000ff;
	width:100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.project h3 {
	margin-top: 10px;
	text-align: center;
}

/************************* end of testing for landing page ***************************/