/* PLEASE NOT THAT AT LINE 108 IS TESTING FOR LANDING & DASHBOARD PAGES COMMENT OUT IF NEEDED */

* {
margin:0 auto;
padding:0;
}

body{
background: #c9c9c9 url(/images/bg_gradient-prime.png) repeat-x;
color:#434343;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}

a{color:#00a8ff; text-decoration:none;}

h1{
color:#434343;
font-family:Arial, Helvetica, sans-serif;
font-size:36px;
font-weight:400;
letter-spacing:-2px;
margin:15px;
text-align:center;
}

label{
display:inline-block;
line-height:22px;
text-align:right;
vertical-align:top;
width:145px;
}

input{
border:1px solid #737373;
margin:5px 0;
}

/*
.entryForm{
background:#FFF;
display:block;
height:auto;
margin-bottom:20px;
padding:25px;
width:700px;

-webkit-border-radius: 18px;  
-moz-border-radius: 18px;  
-khtml-border-radius: 18px;  
border-radius: 18px; 
}
*/


.aipd{
background:transparent url(/images/logo-ai.png) no-repeat; 
display:block;
height:40px;
margin-top:10px;
width:54px;
}

.entryForm{
background:#FFF;
display:block;
height:auto;
margin-top:25px;
margin-bottom:20px;
max-width:960px;
min-width:350px;
padding:25px;
width:700px;

-webkit-border-radius: 18px;  
-moz-border-radius: 18px;  
-khtml-border-radius: 18px;  
border-radius: 18px; 

-webkit-box-shadow: 0 0 13px rgba(0,0,0,.3);  
-moz-box-shadow: 0 0 13px rgba(0,0,0,.3); 
}

.entryForm:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.text{
display:inline-block;
height:32px;
width:488px;
}

.contain-checkboxes{
display:block;
margin: 5px 0 10px 147px;
}

.contain-checkboxes label{
display:inline-block;
padding:3px;
text-align:right;
vertical-align:top;
width:auto;
}

.contain-checkboxes input{
margin-left:10px;
}

.tools, .languages{
display:inline-block;
list-style:none;
line-height:21px;
margin: 0 80px 0 0;
}

.other-box{
padding:5px;
}

/*
#cancel, #submit{
border:none;
background: transparent url(/images/bg_butn-submit.png) no-repeat;
cursor:pointer;
color:#00a8ff;
display:block;
font-size: 11px;
height:35px;
margin-left:325px;
padding: 10px 0;
text-align:center;
text-decoration: none;
width:82px;

-webkit-border-radius: 3px;  
-moz-border-radius: 3px;  
-khtml-border-radius: 3px;  
border-radius: 3px;
}

#submit:hover{
background:#4b4d45;
color:#fff;
}
*/



.center-buttons{
border:1px slid red;
display:block;
height:50px;
margin:0 auto;
padding:0;
width:200px;
}

.remove {
	width: 100px;
}

#submit{
background:#00a8ff;
border:none;
color:#fff;
font-size:24px;
padding:5px 10px;
text-align: center;
text-decoration: none;
text-shadow: rgba(0,0,0,.5) 0 -1px 0;

-webkit-border-radius: 3px;  
-moz-border-radius: 3px;  
-khtml-border-radius: 3px;  
border-radius: 3px;
}

#submit:hover{
background:#4b4d45;
color:#fff;
cursor:pointer;
}

.cancel-lrg:hover{
background:#EC1C24;
color:#fff;
cursor:pointer;
text-shadow: rgba(0,0,0,.5) 0 -1px 0;
}

.cancel-lrg{
background:#fff;
border:1px solid #EC1C24;
color:#EC1C24;
display:inline-block;
height:auto;
font-size:13px;
margin:0 auto;
margin-left:10px;
padding:3px 15px 3px 10px;
width:36px;

-webkit-border-radius: 3px;  
-moz-border-radius: 3px;  
-khtml-border-radius: 3px;  
border-radius: 3px;
}

.back {
	position: relative;
	left: 700px;
	width: 85px;
	text-align: center;	
}

h2{
color:#434343;
font-family:Arial, Helvetica, sans-serif;
font-size:26px;
font-weight:400;
letter-spacing:-.04em;
margin:15px;
text-align:center;
}

img{
display:block;
height:auto;
width:auto;
margin:0 auto;
padding:0;
}

.yes:hover{background:#434343;cursor:pointer;}

.yes{
background:#11d728;
border:none;
color:#fff;
display:inline-block;
height:auto;
font-size:19px;
margin:0 auto;
padding:3px 10px;
text-shadow: rgba(0,0,0,.5) 0 -1px 0;
width:30px;

-webkit-border-radius: 3px;  
-moz-border-radius: 3px;  
-khtml-border-radius: 3px;  
border-radius: 3px;
}

.no:hover{
background:#EC1C24;
color:#fff;
cursor:pointer;
text-shadow: rgba(0,0,0,.5) 0 -1px 0;
}

.no{
background:#fff;
border:1px solid #EC1C24;
color:#EC1C24;
display:inline-block;
height:auto;
font-size:13px;
margin:0 auto;
padding:3px 10px;
width:17px;

-webkit-border-radius: 3px;  
-moz-border-radius: 3px;  
-khtml-border-radius: 3px;  
border-radius: 3px;
}

/************************** for testing of landing page **********************************/
/*
.container {
	border: solid 1px #ff0000;
	width:1020px;
	height: 768px;
}

.project {
	border: solid 1px #00ff00;
	width: 200px;
	height: 200px;
	margin: 50px;
	float: left;
}

.project .thumb {
	border: solid 1px #0000ff;
	width:100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.project h3 {
	margin-top: 10px;
	text-align: center;
}
*/

/************************* end of testing for landing page ***************************/